<%= erb :_errors %>
<div class="row">
  <form class="col s12" action="/login" method="post">
    <div class="row">
      <div class="input-field col s12">
        <label for="email">Email</label>
        <input type="text" name="user[email]">
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="password">Password</label>
          <input type="password" name="user[password]">
        </div>
      </div>
      <input class="waves-effect waves-light btn" type="submit" name="Login">
  </form>
</div>