<h1>The Hungover Hoptimist</h1>
  <div>
    <strong><p>Beer name: <%= @beer.name %></p></strong>
    <% if @beer.abv && @beer.description %>
    <p>Beer description: <%= @beer.description %></p>
    <p>ABV: <%= @beer.abv %></p>
    <% else %>
    <p>We're still trying to learn more about this beer, we don't yet have a description or ABV!</p>
    <% end %>
  </div>