<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Hungover Hoptimist</title>
</head>
<body>
<nav>
    <div class="nav-wrapper grey">
      <a href="/"><img class="brand-logo" src="/hopfriend.png" width="70" height="70"></a>
      <h1 class="brand-logo center">Hungover Hoptimist</h1>
      <ul class="right hide-on-med-and-down">
        <li><a href="/styles">Styles</a></li>
        <li><a href="/hops">Hops</a></li>
        <% if !logged_in? %>
        <li><a href="/login">Login</a></li>
        <li><a href="/users/new">Register</a></li>
        <% else %>
        <li><a href="/profile"><%= current_user.first_name %></a></li>
        <li><form class="delete" action="/logout" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button class="btn waves-effect waves-light" type="submit" name="action">Logout</button>
        </form></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <%= yield %>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.js"></script>
</body>
</html>
